.idea/
.vs/
.vscode/*
build/dev*/*
.cpm/
cmake/open-cpp-coverage.cmake
cmake-build-*/
conan/
prefix/
CMakeLists.txt.user
CMakeUserPresets.json
conanbuildinfo.txt
conaninfo.txt
graph_info.json
compile_commands.json
.cache
conan.lock
conan_imports_manifest.txt


!.vscode/tasks.json